@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#xaplikasi {
	width: 70%;
    height: 90%;
    visibility: visible;
    top: 40px;
    left: 150px;
    background-color: #A6C6E5;
    position: relative;
}

body {
	background-color: #2268C9;
	visibility: visible;
	width: 100%;
	height: 100%;
	position: absolute;
}
#formus{
	width: 100%;
	height: 200px;
	position: absolute;
	z-index: 1;
	visibility: visible;
	background-color: #21A48E;
	top: 0px;
	left: 0px;
	font-weight: 800;
	font-size: x-large;
	text-align: center;
	color: #08175E;
	text-shadow: 1px 1px 1px #18515F;
}

#check{
	display:none;
}

#icone{
	cursor: pointer;
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 200px;
}

.icon{
	background-color: #333;
	height:100%;
	width:200px;
	position: absolute;
	transition:all .2s linier;
	left: -300px;
}
nav{
	width: 100%;
	position: absolute;
	top: 200px;
}
nav a{
	text-decoration: none;
}

.link{
	background-color: #494950;
	padding: 20px;
	font-family: 'Arial';
	font-size: 12pt;
	transition: all .2s linear;
	color: #f4f4f9;
	border-bottom: 3px solid #222;
	opacity::0;
	margin-top:200px;
}

.link:hover{
	background-color:#050542;
}

#check:checked ~ .icon{
	transform:translateX(300px);
}

#check:checked ~ .icon nav a .link{
	opacity: 1;
	margin-top: 0;
	transition-delay: .2s;
}
#aplikasi {
	width: 100%;
    height: 101%;
    position: relative;
    visibility: visible;
    top: 0px;
    left: 200px;
    background-color: #A6C6E5;
}
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: #050542;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 17px;
  color: #050542;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.petunjuk {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 200px;
	font-weight: 800;
	font-size: x-large;
	text-align: center;
	color: #08175E;
	text-shadow: 1px 1px 1px #18515F;
}